@model Liath.BigSpace.UI.Web.Areas.OuterSpace.Models.Ship.List

<h1>Listing all @Model.EmpireName ships</h1>

<table>
    @foreach (var ship in @Model.Ships)
    {
        <tr>
            <td>@Html.RouteLink(@ship.ShipName, new { area = "OuterSpace", controller = "Ship", action = "Details", id = ship.ShipID})</td>
            <td>
                @if (ship.SolarSystem.HasValue) { 
                    @Html.RouteLink(ship.SolarSystemName, new {area = "OuterSpace", controller = "LocalArea", action = "Display", id = ship.SolarSystem.Value});
                }
                else
                { 
                    @Html.Raw(ship.Job)
                }
            </td>
        </tr>
    }
</table>