@model Liath.BigSpace.UI.Web.Areas.OuterSpace.Models.LocalArea.Display
@{
    ViewBag.Title = "Display";
}

<h2>Display Local Area</h2>

<table border="1">
    <tr>
        <td rowspan="2">
            <table style="border: 1px solid black;">
                @for (int row = 0; row < Model.ScreenSize.Height; row++)
                {
                    <tr>
                        @for (int column = 0; column < Model.ScreenSize.Width; column++)
                        {
                            <td style="width: 25px; height: 25px;">
                                @{
                            var system = Model.Systems.SingleOrDefault(s => s.X == column && s.Y == row);
                            if (system != null)
                            {
                                <img src="http://cdn-2.freeclipartnow.com/d/41631-1/smooth-star.jpg" height="25" width="25" title="@system.Name" class="star" SolarSystemID="@system.ID" />
                            }
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </td>
        <td id="Details" style="width: 250px; height: 300px;"></td>
    </tr>
    <tr>
        <td id="Navigation" style="height: 100px;">
            Navigation Panel
        </td>
    </tr>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.star').click(function () {
                var id = $(this).attr('SolarSystemID');
                var route = '@Url.RouteUrl("Default", new { Area = "OuterSpace", Controller = "SolarSystem", Action = "Summary" })';
                var url = route + '/' + id;
                $.get(url, function (data) {
                    $('#Details').html(data);
                });
            });

            $('#Details').on('click', '.ShipSummary', function () {
                var shipID = $(this).attr('ShipID');
                var url = '';
                if($(this).hasClass('SelectedShip')){
                    $(this).removeClass('SelectedShip');
                    url = '@Url.RouteUrl("Default", new {Area = "OuterSpace", Controller = "Ship", Action = "DeSelectShip"})';
                } else {
                    $(this).addClass('SelectedShip');
                    url = '@Url.RouteUrl("Default", new { Area = "OuterSpace", Controller = "Ship", Action = "SelectShip" })';
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: { id: shipID }
                });
            });
        });
    </script>
    <style type="text/css">
        .SelectedShip{text-decoration: underline;}
    </style>
}