@model Liath.BigSpace.UI.Web.Areas.OuterSpace.Models.SolarSystem.SolarSystemSummary

<h4>@Model.Name</h4>
<a class="SendShips" SolarSystemID="@Model.SolarSystemID">Send selected ships here</a>
@if (Model.MostPopulatedPlanet.HasValue)
{
	@Html.RouteLink("Enter Solar System", new {area = "OuterSpace", controller = "Planet", Action = "Orbit", id = Model.MostPopulatedPlanet.Value})
}

<table>
    @foreach (var ship in @Model.Ships)
    {
        <tr>
            <td class="ShipSummary @ship.CellClass" ShipID="@ship.ID">
                @ship.Name
            </td>
        </tr>
    }
</table>